@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tag {
  @include center;
  background-color: $color-primary;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.2);
  padding: 0.25rem 0.5rem;
}
