@use "../../styles/partials/mixins" as *;

.projects {
  @include section-padding;
  background-color: antiquewhite;
  min-height: 100vh;

  &__container {
    @include center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
