@use "../../styles/partials/mixins" as *;

.projects {
  @include section-padding;
  @include center;
  flex-direction: column;
  background: url("../../assets/bg.jpeg");
  min-height: 100vh;

  &__title {
    @include section-title;
    z-index: 10;
  }

  &__container {
    @include center;
    flex-wrap: wrap;
    gap: 1rem;

    @include tablet {
      gap: 1.5rem;
    }
  }
}
