@use "./variables" as *;

@mixin section-padding {
  padding: 4% 7%;

  @include tablet {
    padding: 2% 10%;
  }
}

@mixin section-title {
  position: relative;
  font-weight: bold;
  color: $color-primary;
  font-size: 1.5rem;
  margin: 1.5rem;

  &::before {
    content: "";
    background-color: $color-secondary;
    width: 120%;
    height: 1rem;
    position: absolute;
    left: -10%;
    bottom: 2px;
    opacity: 1;
    z-index: -1;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition-effect {
  transition-duration: 0.5s;
  transition-property: all;
}

// media queries
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
