@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  @include desktop {
    font-size: 110%;
  }
}

body {
  font-family: "Karla", sans-serif;
  color: $color-black;
}

h1,
h2,
h3,
p {
  line-height: 1.5;
}

h1,
h2 {
  font-size: 1.5rem;
}

h3,
p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  font: inherit;
  width: 100%;
  resize: none;
}

button {
  @include center;
  gap: 0.3rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  transition: transform 0.2s ease-in-out;
  background-color: transparent;
  text-transform: uppercase;

  &:active {
    transform: translateY(-5px);
  }
}
