@use "../../styles/partials/mixins" as *;

.skills {
  @include center;
  flex-direction: column;

  &__title {
    margin: 2rem 0 1.5rem;
  }

  &__list {
    @include center;
    flex-wrap: wrap;

    &-item {
      @include center;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.3rem;
      background-color: white;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
      padding: 0.5rem;
      margin: 0.5rem;
      width: 5rem;
      height: 5rem;
      transition: all 0.3s ease;

      &:hover {
        svg {
          color: burlywood;
          transform: scale(1.1);
        }
      }
    }
  }

  &__button {
    background-color: pink;
    color: white;
    border-radius: 8px;
    margin-top: 1rem;
  }
}

.highlight {
  background-color: pink;
  color: white;
  transform: scale(1.1);
}
