@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
  @include section-padding;
  @include center;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    gap: 2rem;
  }

  &__intro {
    h1 {
      color: $color-primary;
    }

    h3 {
      font-weight: 400;
    }

    p {
      margin: 1rem 0;
    }

    @include tablet {
      max-width: 40vw;
      order: 2;
    }
  }

  &__img {
    width: 75vw;
    max-width: 25rem;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);

    @include tablet {
      width: 40%;
      order: 1;
    }
  }

  &__highlight {
    background-color: $color-secondary;
    font-style: italic;
  }
}
