@use "../../styles/partials/mixins" as *;

.about {
  @include section-padding;
  background-color: beige;
  height: 100vh;
}

.profile-img {
  height: 20rem;
  max-width: 80vw;
  object-fit: cover;
  object-position: 0 1.5rem;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &-item {
    @include center;
    flex-direction: column;
    transition: all .3s ease;

    &:hover {
      color: burlywood;
      transform: scale(1.1);
    }
  }
}
