@use "../../styles/partials/mixins" as *;

.about {
  @include section-padding;
  min-height: 100vh;

  &__title {
    color: darkslateblue;
    margin-bottom: 1rem;
  }
}

.profile-img {
  height: 20rem;
  max-width: 80vw;
  object-fit: cover;
  border-radius: 10px;
}

