@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.project {
  @include center;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  background-color: $color-secondary;
  border-radius: 8px;

  @include tablet {
    flex-direction: row;
    gap: 2rem;
  }

  &__image {
    width: 80%;
    margin: 1rem;
    position: relative;

    @include tablet {
      width: 70%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__buttons {
    @include center;
    background-color: rgba(0, 0, 0, 0.75);
    width: 80%;
    height: 75%;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    @include transition-effect;

    &:hover {
      opacity: 1;
    }
  }

  &__button {
    @include center;
    gap: 0.3rem;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 4px;

    &:hover {
      background-color: $color-primary;
      color: white;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;

    @include tablet {
      border-radius: 8px;
    }
  }

  &__title {
    color: $color-primary;
  }

  &__tech-stack {
    @include center;
    gap: 1.3rem;
    flex-wrap: wrap;
  }
}

.divider {
  width: 85%;
  height: 2px;
  background-color: lightgray;
}
